<mat-toolbar color="primary">
  @if (authService.isAuthenticated()) {
    <a mat-button routerLink="/patients" routerLinkActive="active">Patients</a>
  }

  <span class="spacer"></span>

  @if (authService.isLoading()) {
    <mat-spinner diameter="20" />
  } @else if (authService.isAuthenticated()) {
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      {{ authService.user()?.name }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  } @else {
    <button mat-flat-button (click)="authService.login()">Login</button>
  }
</mat-toolbar>
